* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

.container {
    width: 60%;
    margin: 30px auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.controls {
    padding: 20px;
    background-color: #4a90e2;
    color: #fff;
    text-align: center;
}

.controls a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.row {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row form {
    display: flex;
}

.row input[type="text"] {
    padding: 10px;
    width: 200px; /* Настройте ширину поля по вашему вкусу */
    border-radius: 4px 0 0 4px;
    border: 1px solid #ddd;
}

.row button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.row button:hover {
    background-color: #218838;
}

.content {
    padding: 20px;
    background-color: #ffffff;
}

.dataset {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
}

.dataset th, .dataset td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.dataset th {
    background-color: #4a90e2;
    color: #fff;
}

.dataset td {
    background-color: #f9f9f9;
}

.folder {
    background-color: #e9f7ef;
    color: #2f7d32;
    font-weight: bold;
}

.file {
    background-color: #ffe5b4;
    color: #a05a2c;
    font-weight: bold;
}

.dataset a {
    color: #4a90e2;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.dataset a:hover {
    color: #215b9a;
}

.dataset form button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dataset form button:hover {
    background-color: #c82333;
}

input[type="text"]::placeholder {
    color: #888;
}

input[type="text"]:focus {
    outline: none;
    border-color: #4a90e2;
}
