* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 70%;
    margin: 30px auto;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.controls {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.row {
    margin-bottom: 15px;
}

.form-inline {
    display: flex;
    gap: 10px;
}

.form-inline input[type="text"],
.form-inline input[type="file"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #45a049;
}

.button-delete {
    background-color: #f44336;
}

.button-delete:hover {
    background-color: #d32f2f;
}

.edit-section {
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.edit-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: monospace;
    font-size: 14px;
    resize: vertical;
}

.dataset {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.dataset th, .dataset td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.dataset th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.dataset tr:nth-child(even) {
    background-color: #fafafa;
}

.folder {
    color: #2d8a1e;
}

.file {
    color: #8a6d3b;
}
