
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


h1, h2 {
    text-align: center;
    color: #444;
}


a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    color: #0056b3;
}


.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.category {
    background: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
    flex: 0 1 calc(25% - 20px); 
    box-sizing: border-box;
}

.category:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.category a {
    font-size: 1.1em;
    font-weight: bold;
    color: #007bff;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.product {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    text-align: left;
    flex: 0 1 calc(33% - 20px); 
    box-sizing: border-box;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #333;
}

.product p {
    margin: 5px 0;
    color: #555;
}

.product .price {
    font-weight: bold;
    color: #28a745;
}


button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px; 
    cursor: pointer;
    font-size: 14px; 
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}


form {
    margin: 20px auto;
    max-width: 600px;
    background: #fff;
    padding: 15px; 
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

form input[type="text"], form select {
    width: calc(100% - 20px);
    padding: 8px; 
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    width: auto; 
}


.admin-header {
    text-align: center;
    margin: 20px 0;
}

.admin-categories {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul li form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}


.admin-button {
    text-align: center;
    margin: 20px auto;
}

.admin-button a {
    display: inline-block;
    background-color: #28a745;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 14px; 
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
}

.admin-button a:hover {
    background-color: #218838;
    transform: scale(1.05);
}
