/* Основные стили для body */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #a8e063, #56ab2f);
}

/* Стили для контейнера формы */
.form-container {
    width: 400px;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: left;
    transition: transform 0.3s ease;
}
.form-container:hover {
    transform: scale(1.02);
}

/* Заголовок формы */
.form-container h2 {
    text-align: center;
    color: #333;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

/* Информация о требуемом поле */
.form-container p {
    text-align: center;
    color: #d9534f;
    font-size: 14px;
}

/* Стили для меток */
.form-container label {
    font-weight: bold;
    display: block;
    margin: 15px 0 5px;
    color: #555;
}

/* Поля ввода */
.form-container input[type="text"], .form-container textarea {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.form-container input[type="text"]:focus, .form-container textarea:focus {
    border-color: #56ab2f;
    outline: none;
}

/* Радио-кнопки */
.form-container input[type="radio"] {
    margin-right: 5px;
}

/* Кнопка отправки */
.form-container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}
.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

/* Стили для сообщений об ошибках */
.error {
    color: #d9534f;
    font-size: 12px;
}
